@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    font-family: 'Poppins', sans-serif;
}

button:active, button:focus {
    outline: none;
}

.container {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/timetable';
@import 'blocks/caraousel';
@import 'blocks/overlay';


@import 'libs/media';