.carousel {
    min-height: 782px;
    background: #3A4574;
    padding: 220px 0 220px;
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: #D3B47F;
        margin: 34px 0 20px;
    }
    &__descr {
        width: 780px;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.245em;
        color: #D3B47F;
        margin: 0;
    }
    
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    background: url(../icons/arrow-up-white.svg) center (center/cover) no-repeat;
    width: 70px;
    transition: 0.2s all;
    &:after {
        display: none;
    }
    &:hover {
        background: url(../icons/arrow-up.svg) center (center/cover) no-repeat;
    }
}

.swiper-button-next {
    background: url(../icons/arrow-down-white.svg) center (center/cover) no-repeat;
    width: 70px;
    transition: 0.2s all;
    &:after {
        display: none;
    }
    &:hover {
        background: url(../icons/arrow-down.svg) center (center/cover) no-repeat;        
    }
}